;fix humans being unable to jump into vents.
;FOR ZEDDY'S SERVER ONLY, DO NOT USE ON OTHER SERVERS.
modify:		
{		
 	match:		
 	{				
		"classname" "func_breakable"
		"hammerid" "3196"
 	}		
	insert:
	{
		"OnBreak" "ConsoleCommandsv_jump_impulse 30101"
	}	
}

modify:		
{		
 	match:		
 	{				
		"classname" "trigger_once"
		"hammerid" "3207"
 	}		
	insert:
	{
		"OnStartTouch" "ConsoleCommandsv_jump_impulse 320191"
	}	
}

;add secret button to trigger panic mode instead of it being RNG.
;After extreme boss, front right corner bottom next to the door in the corridor.
add:
{
	"classname" "func_button"
	"origin" "3728 3350 362"
	"spawnflags" "1537"
	"sounds" "3"
	"targetname" "trigger_for_panic"
	"OnPressed" "ConsoleCommandsay You hear a train in the distance...1-1"
	"OnPressed" "trigger_for_panicKill0.25-1"
	"OnPressed" "MassacreOrPanicSetValue11-1"
}

;remove rng factor
modify:		
{		
 	match:		
 	{				
		"classname" "logic_branch"
		"targetname" "MassacreOrPanic_Setup"
 	}		
	delete:
	{
		"OnUser1" "MassacreOrPanic_RandomPickRandom0-1"
		"OnUser1" "paperAddOutputOnUser1 MassacreOrPanic_Random:Kill::0:-10-1"
	}	
}

;Set next stage to massacre everytime extreme is loaded.
modify:		
{		
 	match:		
 	{				
		"classname" "logic_relay"
		"hammerid" "21555"
 	}		
	insert:
	{
		"OnTrigger" "MassacreOrPanicSetValue02-1"
	}	
}

;ALL BELOW CHANGES ARE BY GFL, all credits to them
;More trigger_hurt damage so mother zombies get nuked.
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "NukeExtreme"
	}
	replace:
	{
		"damage" "99999999"
	}
}

;If the door is blocked, unparented and zombie does not destroy it CT's will be unable to progress and stall the round. This adds block damage.
modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "Garage2Door"
	}
	replace:
	{
		"forceclosed" "1"
		"dmg" "2"
	}
}

;Sticky spawn fix.
modify:
{
	match:
	{
		"classname" "info_player_terrorist"
		"origin" "166.345 124.451 142"
	}
	replace:
	{
		"origin" "166 124 117"
	}
}

;Earlier garage door open. (Sometimes players can absurdly trigger early on other path?)
modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "-1356 991.99 -71.57"
	}
	delete:
	{
		"OnPressed" "GarageDoorOpen38-1"
		"OnPressed" "ConsoleCommandsay *Garage door opening in 38 seconds*0-1"
	}
	insert:
	{
		"OnPressed" "GarageDoor,Open,,35,-1"
		"OnPressed" "Console,Command,say *Garage door opening in 35 seconds*,0,-1"
	}
}

;Freeze time.
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "startCfg"
	}
	delete:
	{
		"OnTrigger" "StartDoorsOpen4-1"
	}
	insert:
	{
		"OnTrigger" "StartDoors,Open,,11,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "startCfgEnd"
	}
	delete:
	{
		"OnTrigger" "StartDoorsOpen4-1"
	}
	insert:
	{
		"OnTrigger" "StartDoors,Open,,11,-1"
	}
}

;Prevents zombies from bouncing forward a bit.
modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "GenPUSH"
	}
	replace:
	{
		"origin" "1327.5 3581.5 -699.88"
		"speed" "300"
	}
}

;Additional breakable health, to make up for zombies knifing through each other.
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "248.5 896 192"
	}
	insert:
	{
		"OnStartTouch" "GlassOffice,SetHealth,2304,7.1,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-1176 2763 -83.5"
	}
	insert:
	{
		"OnStartTouch" "Garage2Break,SetHealth,2816,35.1,1"
	}
}

;More round time, applied in map config.
modify:
{
	match:
	{
		"classname" "logic_relay"
		"origin" "319 -296 184.831"
	}
	delete:
	{
		"OnSpawn" "ConsoleCommandmp_roundtime 90-1"
	}
}

;Allow 'CoolElite' to be picked up appropriately. (Post weapon sights)
filter:
{
	"targetname" "CoolEliteNoUse"
}